.newsItem {
  color: #828282;
  align-items: baseline;
  display: flex;  
  padding-bottom: 4pt;
  margin-left: 10pt;
}



.newsItem_titleLink {
  color: black;
  font-size: 10pt;
  text-decoration: none;
}

.newsItem_domain , .newsItem_subtext{
  font-family: Verdana, Geneva, sans-serif;
  font-size: 8pt;
  color: #828282;

  a , a:link, a:visited {
    color: #828282;
    text-decoration: none;
}


a:hover{
  text-decoration: underline;
}

}

.newsItem_subtext{
  padding-left: 10pt;
}

